.container-countries-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px; /* מרווח בין הכרטיסים */
}

.country-card {
    flex: 0 1 calc(33.333% - 16px); /* שלושה כרטיסים בשורה כברירת מחדל */
    min-width: 100px; /* רוחב מינימלי לכרטיס */
    max-width: 100%; /* מבטיח שהכרטיס לא יחרוג מרוחב המסך */
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; /* אפשר לשנות לפי העיצוב */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .country-card {
        flex: 0 1 calc(50% - 16px); /* שני כרטיסים בשורה במסכים בינוניים */
    }
}

@media (max-width: 480px) {
    .country-card {
        flex: 0 1 100%; /* כרטיס אחד בשורה במסכים קטנים */
    }
}
